USE [master]
GO
/****** Object:  Database [cp]    Script Date: 22/04/2020 04:40:20 p. m. ******/
CREATE DATABASE [cp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cp', FILENAME = N'F:\Data\cp.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cp_log', FILENAME = N'F:\Log\cp_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cp]
GO
/****** Object:  Table [dbo].[cps]    Script Date: 22/04/2020 04:40:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cps](
	[d_codigo] [int] NOT NULL,
	[d_asenta] [nvarchar](250) NULL,
	[d_tipo_asenta] [nvarchar](50) NULL,
	[d_mnpio] [nvarchar](50) NULL,
	[d_estado] [nvarchar](50) NULL,
	[d_ciudad] [nvarchar](50) NULL,
	[d_cp] [int] NOT NULL,
	[c_estado] [nvarchar](50) NULL,
	[c_oficina] [nvarchar](50) NULL,
	[c_CP] [nvarchar](50) NULL,
	[c_tipo_asenta] [nvarchar](50) NULL,
	[c_mnpio] [nvarchar](50) NULL,
	[id_asenta_cpcons] [nvarchar](50) NULL,
	[d_zona] [nvarchar](50) NULL,
	[c_cve_ciudad] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
